.place__title {
  max-width: 460px;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
  line-height: 76px;
  font-weight: 900;
  font-size: 72px;
}


@media screen and (max-width: 640px) {
  .place__title {
    max-width: 640px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    
  }
}