.places {
  width: 76.9%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.7%;
    row-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}