.header {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -36px;
  margin-top: 28px;
}


@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: -40px;

  }
  
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin-bottom: -40px;
  }

}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-bottom: -16px;
  }
}
