.lead__title {
  margin: 0;
  color: #FFFFFF;
  line-height: 1;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  margin-bottom: 32px;
  width: 73.5%;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: 77.5%;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.75%;
    font-size: 54px;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 36px;
    text-align: center;
    margin-bottom:16px;
    width: 90%;
  }
}