.place__paragraph {
  margin: 0;
  color: #FFFFFF;
  line-height: 163%;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 320px) {

  .place__paragraph {
    font-size: 16px;

  }
}