.cover {
  width: 92.5%;
  background-image: url(../../images/cover-trains.jpg);
  object-fit: cover;
  background-size:cover;

 }

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
  }
}


@media screen and (max-width: 768px) {
  .cover {
    width: 100vw;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100vw;
  }
}