.cover__title {
  margin: 0;
  max-width: 560px;
  width: 100%;
  color: #FFFFFF;
  line-height: 76px;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 695px) {
  .cover__title {
    font-size: 48px;
    line-height: 52px;

  }
}

@media screen and (max-width: 405px) {
   .cover__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 35px;   
  }
}