.footer {
  
  width: 92.5%;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 24px;
  column-gap: 18px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.7%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 94.7%;
  }
}

@media screen and (max-width: 536px) {
  .footer {
    width: 94.7%;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 58.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    align-self: flex-start;
    margin-left: 16px;
  }
}
